html{
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  color: #121212;
  font-size: 0.9rem;
  line-height: 1.7;
  font-family: "Times New Roman";
  }

.img {
    width: 80px;
    height: 60px;
  } 
  
.a {
  color: #000;
  font-size: 0.875rem;
  text-decoration: none;
}

.li {
  list-style: none;
}

.logo {
  width: 80px;
  line-height: 3px;
  padding: 0 50px;
  margin-top: 10px;
}
.logo a {
  display: block;
}

.wrapper {
  display:  inline-block;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}


.site-title {
  line-height: 1px;
}
#site-title .a {
  display: block;
}
.sec-title {
  font-size: 2.25rem;
  margin-bottom: 30px;
  text-align: center;
}

.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}

#header {
  width:100%;
  display: inline;
  position: fixed;
  align-items: center;
  background-color: #f0f0f0;

}

ul.list {
  height: 50px;
  display: flex;
  justify-content: spa;
  list-style: none;
  padding-left:  35px;
  margin: 0 auto;
  margin-bottom: 10px;
  }

li {
      padding: 10 10px;
      margin-top:30px;
      padding: 0 16px;
      margin-left: 0 auto;
    }

#mainvisual img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

.about {
  width: 100%;
  padding: 100px 16px 50px 16px;
  margin: -50px auto 100px auto;
  padding-bottom: 100px;
}

.grid0 {
  display: grid;
  margin-top:30px;
  gap: 5px;
  margin-left:170px ;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item0 {
  width: 450px;
  height: 480px;
  transition: all  0.3s ease;
  background-color: #fcebcb;
  box-shadow: 0 0 8px 4px #cccccc;
}

.Front-skill{
  font-size: 18px;
  text-align: left;
}

.Skill {
  font-size: 35px;
  font-weight: Bold;
  margin-bottom:5px;
}

.Tool {
  font-size: 35px;
  font-weight: bold;
  margin-top:50px;
}

.tool{
    font-size: 18px;
    text-align: left;
}

.item-name0 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom:5px;
}

.item-cat0 {
  font-size: 15px;
  margin-bottom: 20px;
}

.product {
  width: 100%;
  padding: 1000px 16px 50px 16px;
  margin: -50px auto 10px auto;
}

 .grid {
  display: grid;
  margin-top:30px;
  gap: 5px;
  margin-left:170px ;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item {
  width: 450px;
  height: 640px;
  transition: all  0.3s ease;
  box-shadow: 0 0 8px 4px #ccc;
}
.piuture{
  vertical-align: top;
}
 .item-content {
  padding: 30px;
}
.item-cat {
  font-size: 0.75rem;
  margin-bottom: 20px;
}
.item-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom:5px;
}

.item-text {
  font-size: 0.75rem;
  margin-bottom: 20px;
}

.item-tool {
  font-size: 13px;
  font-weight: medium;
  text-align: left;
}

.item-place {
  font-size: 13px;
  font-weight: medium;
  text-align: left;
}
.item-date {
  font-size: 13px;
  font-weight: medium;
  text-align: left;
}
.item-award {
  font-size: 13px;
  font-weight: medium;
  text-align: left;
  padding-top: 30px;
}

.item-people{
  font-size: 13px;
  font-weight: medium;
  text-align: left;
}

.rink{
  font-size: 20px;
  margin-top: 20px;
  /* padding-left: 90px; */
}









/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */